#banner
{font-size: 12px; color: red; background-colour: #0000FF }
#navigation
{font-size: 16px; color: blue; background-colour: #FFFF00 }
#maincontent 
{font-size: 24px; color: blue; background-colour: #FFFF00 }